*.pro.user
*.pro.user.*
*.pri.user
build*/
build-*/
debug/
release/
Makefile*
object_script.*
*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.ilk
*.pdb
*.idb
*.exp
*.log
*.tmp
*.autosave
*.user
.qmake.stash
.DS_Store
.qtcreator/
.qtc_clangd/
*.manifest
*.depend
*.bak
Thumbs.db
